body {
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.width-print {
	width: 950px;
}

#wrapper {
	float: left;
	margin: 10px;
	height: 1183px;
}

/* CONTENT -------------------------------------------- */
.form-image {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.information {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.date {
	margin: 185px 0px 0px 75px;
}

.final-date {
	margin: 185px 0px 0px 40px;
}

.title {
	margin: 65px 0px 0px 165px;
}

.email {
	margin: 50px 0px 0px 630px;
}

.purpose {
	margin: 80px 0px 0px 70px;
}

.specific {
	margin: 9px 0px 0px 70px;
}

.other {
	margin: 9px 0px 0px 70px;
	width: 630px;
}