body {
	background: #000;
	background-image: url(../images/bg-content.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}

#header {
	background: url(../images/header.png);
	height: 110px;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}

#brand {
	background: url(../images/logo.png) no-repeat;
	display: block;
	float: left;
	height: 40px;
	width: 250px;
	margin-top: 36px;
	padding-left: 62px;
	z-index: 3;
}

a#brand {
	color: #fff;
	display: block;
	text-decoration: none;
}

#icons-top li{
	display:inline;
	float:right;
	margin:-5px 0 0 10px;
} 

#icons-top a:link{
	display:block;
	height:24px;
	width:24px;
	
} 

a:link#search{
	background: url(../images/icon-search-rollover.png) bottom ;
}

a:hover#search{
	background: url(../images/icon-search-rollover.png) top ;
}

a:active#search{
	background: url(../images/icon-search-rollover.png) bottom ;
}

a:link#facebook{
	background: url(../images/icon-facebook-rollover.png) bottom ;
}

a:hover#facebook{
	background: url(../images/icon-facebook-rollover.png) top ;
}

a:active#facebook{
	background: url(../images/icon-facebook-rollover.png) bottom ;
}

a:link#twitter{
	background: url(../images/icon-twitter-rollover.png) bottom ;
}

a:hover#twitter{
	background: url(../images/icon-twitter-rollover.png) top ;
}

a:active#twitter{
	background: url(../images/icon-twitter-rollover.png) bottom ;
}

nav {
	color: #fff;
	float: right;
	height: 20px;
	margin: -15px auto;
	text-align: right;
	text-transform: uppercase;
	width: 400px;
}

nav ul li {
	display: inline;
	margin-left: 8px;
}

nav a {
	color: #fff;
	padding: 7px 8px 5px 8px;
	text-decoration: none;
}

nav a:hover {
	background: #bd4929;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

.quicknav {
	color:#ffffff;
	float:right;
	margin-top:25px;
	
	width:500px;
}

.quicknav li{
	display:inline;
	padding:2px;
	
}

.quicknav a{
	padding: 5px 8px;
}

.quicknav img{
	padding-right:5px;
}

.quicknav span{
	font-variant:small-caps;
	font-size:12px;
	position:relative;
	top:2px;
}

#home-pics {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: 1;
}

#home-pics img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

#icons-top {
	float: right;
	margin: 23px 0px 0px auto;
}

#icons-top img {
	margin-left: 4px;
}

/* Home page event section area ===================================================== */
#events {
	bottom: 0px;
	height: 137px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 5;
}

#events header {
	background: url(../images/tab-events.png) no-repeat;
	color: #fff;
	display: block;
	float: left;
	height: 21px;
	margin-left: 417px;
	padding-top: 3px;
	text-align: center;
	width: 150px;
}

#events header a {
	color: #fff;
	text-decoration: none;
}

#event-area {
	background: url(../images/header.png);
	border-collapse: collapse;
	border-top: 3px solid #000;
	float: left;
	height: 110px;
	width: 100%;
}

#event-items ul {
	margin: 0px;
}

#event-items li {
	float: left;
	list-style: none;
	margin-left: 0px;
	width: 241px;
}

#event-items li a {
	color: #fff;
	display: block;
	height: 86px;
	padding: 12px;
	text-decoration: none;
	width: 217px;
}

#event-items li a:hover {
	background: #bd4929;
}

#event-items .title {
	font-size: 28px;
	height: 56px;
	line-height: 1.1;
	overflow: hidden;
	text-transform: uppercase;
	word-wrap: break-word;
}

#event-items .time, #event-items .location {
	display: block;
	float: left;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	padding-left: 15px;
	margin: 5px 3px auto;
}

#event-items .time {
	background: url(../images/icon-time.png) no-repeat;
}

#event-items .location {
	background: url(../images/icon-location.png) no-repeat;
}

#clickme {
	cursor: pointer;
}

/* Content Page ===================================================== */

#title {
	margin-top:175px;
	
}

#title h1 {
	color:#adfc9b;
	font-size:60px;

}

#title p.condensed{
	color:#6dd4c4;
	font-size:36px;
	text-align:justify;
	text-transform:uppercase;
}



.subcontent{
	background: url(../images/bg-green.jpg);
	height:1000px;
}

#wood {
	background: url(../images/bg-wood-sm.png) repeat-x;
	height:300px;
	margin-top:70px;
}

#content-header{
	border:5px solid #fff;
	margin:auto;
	position:relative;
	top:-28px;
}

.subnav ul{
	padding-bottom:120px;
}

.subnav li{
	display:inline;
	margin:0px 25px 0 -12px;
	
}

.subnav a:link{
	padding:7px 15px;
}
	

.subnav a:hover{
	background-color:#20aa9c;
	border:2px solid #20aa9c;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	padding: 5px 13px;
	-moz-box-shadow:inset 2px 2px 2px #0b7f72;
	-webkit-box-shadow:inset 2px 2px 2px #0b7f72;
	box-shadow:inset 2px 2px 2px #0b7f72;
	
}

.subcontent p.condensed {
	color:#15f6de;
	font-size:34px;
	letter-spacing:0px;
	margin-top:35px;
	text-align:left;
	text-transform:uppercase;
}

#att{
	color:#fff;
	font-size: 48px;
	font-style:italic;
	text-align:left;
}

/* For debugging block items  ===================================================== */
.debug {
	border-collapse: collapse;
	border: 1px solid #990000;
}

