body {
	background: #e4e3e3 url(../images/cbcsa-body.jpg) top repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.width-site {
	width: 980px;
}

#header {
	background: url(../images/cbcsa-admin.gif) top right no-repeat;
	float: left;
	height: 65px;
}

#brand {
	background: url(../images/cbcsa-logo.png) no-repeat;
	display: block;
	float: left;
	height: 65px;
	margin: 0px;
	width: 175px;
}

#admin {
	color: #f0f0f0;
	font-size: 0.9em;
	height: 20px;
	padding: 0px 0 0 4px;
	width: 260px;
}

#user-nav {
	height: 20px;
	margin: 0px;
	padding: 4px 0px 0px 3px;
}

#user-nav a {
	color: #91d8fd;
	text-decoration: none;
}

#user-nav a:hover {
	text-decoration: underline;
}

#wrapper {
	min-height: 530px;
}

/* Site Navigation --------------------------------------- */
#nav {
	font-size: 105%;
	height: 55px;
	margin: 0px;
	padding: 0px;
}

#nav li {
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#nav li a {
	background: url(../images/cbcsa-li.jpg) right no-repeat;
	color: #eaeaea;
	display: block;
	float: left;
	letter-spacing: 0.1em;
	height: 35px;
	margin: 0px;
	text-decoration: none;
	padding: 20px 20px 0px 20px;
}

#nav li a:hover {
	background: #eaeaea;
	color: #37393b;
}

/* Subnavigation css ---------------- */
#nav li ul {
	border-collapse: collapse;
/*	border-bottom: solid 1px #3c93b3; */
	border-top: solid 1px #aedfe5;
	display: none;
	font-size: 90%;
	left: 0%;
	margin: 55px auto auto 0px;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 159px;
	z-index: 500 !important;
}

#nav li ul li a {
	background: #2b4567;
	border-collapse: collapse;
	border-bottom: solid 1px #aedfe5;
	border-left: solid 1px #aedfe5;
	border-right: solid 1px #aedfe5;
	color: #aedfe5;
	float: left;
	font-weight: normal !important;
	height: 25px;
	letter-spacing: 0.05em;
	padding: 12px 15px 0px 7px;
	position: relative;
	width: 135px;
	
	filter: alpha(opacity=90);
	-moz-opacity: .90;
	opacity: .90;
}

#nav li ul li a:hover {
	background: #000;
/*	border-collapse: collapse;
	border-left: solid 5px #3c93b3;
	border-right: solid 5px #3c93b3; */
	color: #fff;
}

#nav li:hover ul {
	display: block;
}

#nav LI.over ul {
	display: block;
}

/* Content -------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading-color {
	color: #3c93b3;
}

a {
	color: #265c99;
}

a:hover {
	color: #4d82be;
	text-decoration: none;
}

#breadcrumbs {
	color: #636262;
	margin: 15px 0px;
	text-align: right;
}

#breadcrumbs a {
	color: #636262;
	font-size: 0.8em;
	text-decoration: none;
}

#breadcrumbs a:hover {
	text-decoration: underline;
}

#content {
	margin-top: 0px;
	min-height: 430px;
	padding: 0;
}

#main-content {
	background: #f1f1f1;
	margin-top: 10px;
}

/*
#main-content {
	background: url(../images/cbcsa-content-bg.gif) left repeat-y;
	margin-top: 10px;
}

.content-round {
	background: url(../images/cbcsa-content-top.gif) left top no-repeat;
}

.content-round div {
	background: url(../images/cbcsa-content-bottom.gif) left bottom no-repeat;
}°/
*/
.errors {
	
	margin: 25px 25px 0px 25px;
}

.errors li {
	color: #9a3914;
	font-weight: bold;
	margin: 0px 0px 5px 30px !important;
	list-style: none !important;
}

/*
.content-block {
	background: #e4f6f8 url(../images/cbc-content-block.gif) top right no-repeat;
	border-collapse: collapse;
	margin: 10px;
	padding-bottom: 10px;
}*/

/* Icon Css ------------------------------------- */
.icon {
	display: inline-block;
	height: 20px;
	padding-left: 25px;
}

.icon-feed {
	background: url(../images/icon-feed.png) left no-repeat;
}

.icon-podcast {
	background: url(../images/icon-podcast.png) left no-repeat;
}

.icon-itunes {
	background: url(../images/icon-itunes.png) left no-repeat;
}

.icon-pdf {
	background: url(../images/icon-pdf.png) left no-repeat;
}

.icon-video {
	background: url(../images/icon-video.png) left no-repeat;
}

/* Admin Table ------------------------------------- */
.admin-table th {
	background: #606264;
	color: #ededed;
}

.admin-table tr:hover {
	background: #e2e2e2;
}

/* Footer --------------------------------------- */
#footer {
	color: #603813;
	font-size: 75%;
	height: 48px;
	line-height: 48px;
	padding: 10px 0 50px 0;
}

#footer p {
	padding: 0px !important;
}

/*
#footer p {
	margin: 5px !important;
}*/

.footer-text {
	padding-top: 10px !important;
	text-align: left;
	width: 775px;
}

.footer-social {
	margin-top: -10px;
	width: 135px;
}

/* Form ------------------------------------------- */
form.form {
	padding: 25px;
}

.form fieldset {
	border: none;
}

.form legend {
	color: #981b1b;
	font-weight: bold;
	margin-bottom: 20px;
}

.form label {
	float: left;
	width: 150px !important;
}	

.form input {
	margin-top: 0px !important;
}

.form textarea {
	height: 100px;
	width: 350px;
}

.form p {
	margin-bottom: 10px;
}

.form .button {
	background: #304766;
	border-collapse: collapse;
	border: 1px solid #3c93b3;
	color: #fff;
	padding: 5px;
}

.form .button:hover {
	background: #c4c4c4;
	color: #363739;
}

.small-error {
	color: #990000;
	font-weight: bold;
	margin: 1px;
}