/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block; }

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden; }

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  font: 13px/1.5 "ff-din-web-pro", sans-serif;
  /* Regular */
  /*  font: 13px/1.5 "ff-din-web-pro-condensed", sans-serif; */
  /*font: 13px/1.5 "din-condensed-web", sans-serif;*/ }

#brand {
  font: 25px/1.5 "ff-din-web-pro-condensed", sans-serif; }

.condensed {
  font-family: "ff-din-web-pro-condensed", sans-serif; }

.copy {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px; }

pre,
code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

/* `Headings
----------------------------------------------------------------------------------------------------*/
h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

/* 'Navigation
-----------------------------------------------------------------------------------------------------*/
.subnav a, .subnav li, .subnav a:hover {
  color: #fff;
  font-size: 22px;
  text-decoration: none; }

/* `Spacing
----------------------------------------------------------------------------------------------------*/
ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  margin-left: 30px; }

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px; }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 976px; }

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 976px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
  position: relative; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {
  width: 41px; }

.container_16 .grid_2 {
  width: 102px; }

.container_16 .grid_3 {
  width: 163px; }

.container_16 .grid_4 {
  width: 224px; }

.container_16 .grid_5 {
  width: 285px; }

.container_16 .grid_6 {
  width: 346px; }

.container_16 .grid_7 {
  width: 407px; }

.container_16 .grid_8 {
  width: 468px; }

.container_16 .grid_9 {
  width: 529px; }

.container_16 .grid_10 {
  width: 590px; }

.container_16 .grid_11 {
  width: 651px; }

.container_16 .grid_12 {
  width: 712px; }

.container_16 .grid_13 {
  width: 773px; }

.container_16 .grid_14 {
  width: 834px; }

.container_16 .grid_15 {
  width: 895px; }

.container_16 .grid_16 {
  width: 956px; }

/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 {
  padding-left: 61px; }

.container_16 .prefix_2 {
  padding-left: 122px; }

.container_16 .prefix_3 {
  padding-left: 183px; }

.container_16 .prefix_4 {
  padding-left: 244px; }

.container_16 .prefix_5 {
  padding-left: 305px; }

.container_16 .prefix_6 {
  padding-left: 366px; }

.container_16 .prefix_7 {
  padding-left: 427px; }

.container_16 .prefix_8 {
  padding-left: 488px; }

.container_16 .prefix_9 {
  padding-left: 549px; }

.container_16 .prefix_10 {
  padding-left: 610px; }

.container_16 .prefix_11 {
  padding-left: 671px; }

.container_16 .prefix_12 {
  padding-left: 732px; }

.container_16 .prefix_13 {
  padding-left: 793px; }

.container_16 .prefix_14 {
  padding-left: 854px; }

.container_16 .prefix_15 {
  padding-left: 915px; }

/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {
  padding-right: 61px; }

.container_16 .suffix_2 {
  padding-right: 122px; }

.container_16 .suffix_3 {
  padding-right: 183px; }

.container_16 .suffix_4 {
  padding-right: 244px; }

.container_16 .suffix_5 {
  padding-right: 305px; }

.container_16 .suffix_6 {
  padding-right: 366px; }

.container_16 .suffix_7 {
  padding-right: 427px; }

.container_16 .suffix_8 {
  padding-right: 488px; }

.container_16 .suffix_9 {
  padding-right: 549px; }

.container_16 .suffix_10 {
  padding-right: 610px; }

.container_16 .suffix_11 {
  padding-right: 671px; }

.container_16 .suffix_12 {
  padding-right: 732px; }

.container_16 .suffix_13 {
  padding-right: 793px; }

.container_16 .suffix_14 {
  padding-right: 854px; }

.container_16 .suffix_15 {
  padding-right: 915px; }

/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .push_1 {
  left: 61px; }

.container_16 .push_2 {
  left: 122px; }

.container_16 .push_3 {
  left: 183px; }

.container_16 .push_4 {
  left: 244px; }

.container_16 .push_5 {
  left: 305px; }

.container_16 .push_6 {
  left: 366px; }

.container_16 .push_7 {
  left: 427px; }

.container_16 .push_8 {
  left: 488px; }

.container_16 .push_9 {
  left: 549px; }

.container_16 .push_10 {
  left: 610px; }

.container_16 .push_11 {
  left: 671px; }

.container_16 .push_12 {
  left: 732px; }

.container_16 .push_13 {
  left: 793px; }

.container_16 .push_14 {
  left: 854px; }

.container_16 .push_15 {
  left: 915px; }

/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .pull_1 {
  left: -61px; }

.container_16 .pull_2 {
  left: -122px; }

.container_16 .pull_3 {
  left: -183px; }

.container_16 .pull_4 {
  left: -244px; }

.container_16 .pull_5 {
  left: -305px; }

.container_16 .pull_6 {
  left: -366px; }

.container_16 .pull_7 {
  left: -427px; }

.container_16 .pull_8 {
  left: -488px; }

.container_16 .pull_9 {
  left: -549px; }

.container_16 .pull_10 {
  left: -610px; }

.container_16 .pull_11 {
  left: -671px; }

.container_16 .pull_12 {
  left: -732px; }

.container_16 .pull_13 {
  left: -793px; }

.container_16 .pull_14 {
  left: -854px; }

.container_16 .pull_15 {
  left: -915px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1; }

body {
  background: #000;
  background-image: url(../images/layout/bg-content.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#wrapper {
  background-image: url(../images/layout/background/bg-content2.jpg); }

#header {
  background: url(../images/layout/header.png);
  height: 110px;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 2; }

#brand {
  background: url(../images/layout/logo.png) no-repeat;
  background-position: middle left;
  color: #fff;
  display: block;
  float: left;
  height: 40px;
  margin-top: 36px;
  padding-left: 62px;
  text-decoration: none;
  width: 250px;
  z-index: 3; }

#brand div {
  position: relative;
  top: 5px; }

#icons-top li {
  display: inline;
  float: right;
  margin: -5px 0 0 10px; }

#icons-top a:link {
  display: block;
  height: 24px;
  width: 24px; }

a:link#search, a:active#search {
  background: url(../images/layout/icon-search-rollover.png) bottom; }

a:hover#search {
  background: url(../images/layout/icon-search-rollover.png) top; }

a:link#facebook, a:active#facebook {
  background: url(../images/layout/icon-facebook-rollover.png) bottom; }

a:hover#facebook {
  background: url(../images/layout/icon-facebook-rollover.png) top; }

a:link#twitter, a:active#twitter {
  background: url(../images/layout/icon-twitter-rollover.png) bottom; }

a:hover#twitter {
  background: url(../images/layout/icon-twitter-rollover.png) top; }

a:link#newsletter, a:active#newsletter {
  background: url(../images/layout/icon-newsletter-rollover.png) bottom; }

a:hover#newsletter {
  background: url(../images/layout/icon-newsletter-rollover.png) top; }

/*#top-search {
	position: absolute;
	top: 50;
	z-index: 200;
}*/
nav {
  color: #fff;
  float: right;
  height: 20px;
  margin: -15px auto;
  text-transform: uppercase; }

nav ul li {
  display: inline;
  float: left;
  margin-left: 8px;
  position: relative; }

nav a {
  color: #fff;
  padding: 7px 8px 5px 8px;
  text-decoration: none;
  float: left; }

nav a:hover {
  background: #bd4929;
  border-radius: 25px;
  -moz-border-radius: 25px;
  /* Firefox 3.6 and earlier */ }

nav li ul {
  display: none;
  font-size: 90%;
  left: -5px;
  margin: 30px 0px 0px -15%;
  padding: 0px 15px 0px 0px;
  position: absolute;
  text-align: left;
  width: 150px;
  z-index: -1; }

nav li ul li {
  background: #bd4929;
  /*border:1px solid #fff;*/
  margin: 0px; }

div.pointer {
  background: url(../images/layout/pointer.gif) no-repeat top center;
  margin-top: 8px;
  padding-top: 15px;
  width: 100px;
  z-index: 100; }

nav li ul li a {
  float: left;
  padding: 3px 8px 0px 7px;
  position: relative;
  width: 150px; }

nav li ul li a:hover {
  background: #fff;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  /* Firefox 3.6 and earlier */
  color: #000;
  font-style: italic;
  font-weight: bold; }

nav li:hover ul {
  display: block; }

nav LI.over ul {
  display: block; }

.quicknav {
  color: #ffffff;
  margin-top: 25px;
  right: -175px;
  position: relative;
  width: 500px; }

.quicknav li {
  display: inline;
  padding: 2px; }

.quicknav a {
  padding: 5px 8px; }

.quicknav img {
  padding-right: 5px; }

.quicknav span {
  font-variant: small-caps;
  font-size: 12px;
  position: relative;
  top: 2px; }

#home-pics {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 1; }

#home-pics img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }

#icons-top {
  float: right;
  margin: 23px 0px 0px auto; }

#icons-top img {
  margin-left: 4px; }

/* Home page event section area ===================================================== */
#events {
  bottom: 0px;
  height: 137px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 5; }

#events header {
  background: url(../images/layout/tab-events.png) no-repeat;
  color: #fff;
  display: block;
  float: left;
  height: 21px;
  margin-left: 417px;
  padding-top: 3px;
  text-align: center;
  width: 150px; }

#events header a {
  color: #fff;
  text-decoration: none; }

#event-area {
  background: url(../images/layout/header.png);
  border-collapse: collapse;
  border-top: 3px solid #000;
  float: left;
  height: 110px;
  width: 100%; }

#event-items ul {
  margin: 0px; }

#event-items li {
  float: left;
  list-style: none;
  margin-left: 0px;
  width: 241px; }

#event-items li a {
  color: #fff;
  display: block;
  height: 86px;
  padding: 12px;
  text-decoration: none;
  width: 217px; }

#event-items li a:hover {
  background: #bd4929; }

#event-items .title {
  font-size: 28px;
  height: 56px;
  line-height: 1.1;
  overflow: hidden;
  text-transform: uppercase;
  word-wrap: break-word; }

#event-items .time, #event-items .location {
  display: block;
  float: left;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  padding-left: 15px;
  margin: 5px 3px auto; }

#event-items .time {
  background: url(../images/layout/icon-time.png) no-repeat; }

#event-items .location {
  background: url(../images/layout/icon-location.png) no-repeat; }

#clickme {
  cursor: pointer; }

/* Content Page ===================================================== */
#title {
  margin-top: 175px; }

#title h1 {
  color: #adfc9b;
  font-size: 60px; }

#title p.condensed {
  color: #6dd4c4;
  font-size: 36px;
  text-align: justify;
  text-transform: uppercase; }

.subcontent {
  background: url(../images/layout/bg-green.jpg);
  height: 1000px;
  margin-top: 125px; }

#header-pics {
  background: url(../images/layout/bg-wood-sm.png) repeat-x;
  height: 300px;
  margin: 70px 0 0 -20px; }

.content-slideshow {
  background-color: #fff;
  border: 5px solid #fff;
  margin: auto;
  position: relative;
  top: -60px; }

div#subnav ul li {
  position: relative; }

.subnav {
  margin-top: 50px;
  text-align: center;
  width: 100%; }

.subnav ul {
  padding-bottom: 120px; }

.subnav li {
  display: inline;
  margin: 5px;
  text-align: center; }

.subnav a:link {
  padding: 2px 16px; }

.subnav li a:hover {
  background: #20aa9c;
  border: 2px solid #20aa9c;
  border-radius: 25px;
  -moz-border-radius: 25px;
  /* Firefox 3.6 and earlier */
  padding: 2px 14px;
  -moz-box-shadow: inset 2px 2px 2px #0b7f72;
  -webkit-box-shadow: inset 2px 2px 2px #0b7f72;
  box-shadow: inset 2px 2px 2px #0b7f72; }

.subnav li ul {
  display: none;
  margin: 5px 0px 0px -50px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  width: 400px; }

.subnav li.margin-right50 ul {
  display: none;
  margin: 5px 0px 0px -200px !important; }

.subnav li ul li {
  display: inline;
  text-align: left;
  padding: 2px 14px; }

.subnav li ul li a:link {
  background: none !important;
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: inset 0px 0px 0px !important;
  display: inline;
  font-size: 18px;
  font-weight: normal !important;
  padding: 0px 0px !important;
  width: 50px; }

.subnav li ul li a:hover {
  color: #828282;
  font-size: 18px; }

.subnav li:hover ul {
  display: block; }

.subnav LI.over ul {
  display: block; }

.subcontent p.condensed {
  color: #15f6de;
  font-size: 34px;
  letter-spacing: 0px;
  margin-top: 35px;
  text-align: left;
  text-transform: uppercase; }

#att {
  color: #fff;
  font-size: 48px;
  font-style: italic;
  text-align: left; }

/* For debugging block items  ===================================================== */
.debug {
  border-collapse: collapse;
  border: 1px solid #990000; }
