/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block; }

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

li {
  /*
    For IE6 + IE7.
  */
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
    For IE9.
  */
  overflow: hidden; }

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif; }

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

/* `Headings
----------------------------------------------------------------------------------------------------*/
h1 {
  font-size: 23px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 17px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 13px; }

/* `Spacing
----------------------------------------------------------------------------------------------------*/
ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  margin-left: 30px; }

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px; }

/*
    Variable Grid System.
    Learn more ~ http://www.spry-soft.com/grids/
    Based on 960 Grid System - http://960.gs/
 
    Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.
 
  Note: IE6 works fine without this fix.
*/
body {
  min-width: 984px; }

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 984px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
  position: relative; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 62px; }

.container_12 .grid_2 {
  width: 144px; }

.container_12 .grid_3 {
  width: 226px; }

.container_12 .grid_4 {
  width: 308px; }

.container_12 .grid_5 {
  width: 390px; }

.container_12 .grid_6 {
  width: 472px; }

.container_12 .grid_7 {
  width: 554px; }

.container_12 .grid_8 {
  width: 636px; }

.container_12 .grid_9 {
  width: 718px; }

.container_12 .grid_10 {
  width: 800px; }

.container_12 .grid_11 {
  width: 882px; }

.container_12 .grid_12 {
  width: 964px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 82px; }

.container_12 .prefix_2 {
  padding-left: 164px; }

.container_12 .prefix_3 {
  padding-left: 246px; }

.container_12 .prefix_4 {
  padding-left: 328px; }

.container_12 .prefix_5 {
  padding-left: 410px; }

.container_12 .prefix_6 {
  padding-left: 492px; }

.container_12 .prefix_7 {
  padding-left: 574px; }

.container_12 .prefix_8 {
  padding-left: 656px; }

.container_12 .prefix_9 {
  padding-left: 738px; }

.container_12 .prefix_10 {
  padding-left: 820px; }

.container_12 .prefix_11 {
  padding-left: 902px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 82px; }

.container_12 .suffix_2 {
  padding-right: 164px; }

.container_12 .suffix_3 {
  padding-right: 246px; }

.container_12 .suffix_4 {
  padding-right: 328px; }

.container_12 .suffix_5 {
  padding-right: 410px; }

.container_12 .suffix_6 {
  padding-right: 492px; }

.container_12 .suffix_7 {
  padding-right: 574px; }

.container_12 .suffix_8 {
  padding-right: 656px; }

.container_12 .suffix_9 {
  padding-right: 738px; }

.container_12 .suffix_10 {
  padding-right: 820px; }

.container_12 .suffix_11 {
  padding-right: 902px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 82px; }

.container_12 .push_2 {
  left: 164px; }

.container_12 .push_3 {
  left: 246px; }

.container_12 .push_4 {
  left: 328px; }

.container_12 .push_5 {
  left: 410px; }

.container_12 .push_6 {
  left: 492px; }

.container_12 .push_7 {
  left: 574px; }

.container_12 .push_8 {
  left: 656px; }

.container_12 .push_9 {
  left: 738px; }

.container_12 .push_10 {
  left: 820px; }

.container_12 .push_11 {
  left: 902px; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -82px; }

.container_12 .pull_2 {
  left: -164px; }

.container_12 .pull_3 {
  left: -246px; }

.container_12 .pull_4 {
  left: -328px; }

.container_12 .pull_5 {
  left: -410px; }

.container_12 .pull_6 {
  left: -492px; }

.container_12 .pull_7 {
  left: -574px; }

.container_12 .pull_8 {
  left: -656px; }

.container_12 .pull_9 {
  left: -738px; }

.container_12 .pull_10 {
  left: -820px; }

.container_12 .pull_11 {
  left: -902px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1; }

/* Start CSS for Site */
html {
  background: white url(../images/layout/html.jpg) top repeat-x; }

#header {
  height: 100px; }

#brand {
  background: url(../images/layout/logo.png) no-repeat;
  display: block;
  float: left;
  height: 71px;
  margin: 14px 0px 0px 10px;
  width: 240px; }

/* Timer ---------------------------------------------- */
#online-service {
  float: left;
  height: 65px;
  margin: 15px 0px 0px 100px;
  overflow: hidden;
  text-align: center;
  width: 160px; }

#online-live a {
  background: url(../images/content/countdown/livenow.png) no-repeat;
  clear: both;
  color: #b9dde2;
  display: block;
  font-weight: bold;
  height: 25px;
  margin-top: 15px;
  padding: 4px 0px;
  text-decoration: none !important;
  width: 121px; }

#online-live span {
  color: #cbcbcb;
  float: left;
  font-size: 12px;
  margin-bottom: 2px; }

#timer-head {
  color: #cbcbcb;
  font-size: 12px;
  margin-bottom: 3px;
  text-align: left; }

#timer {
  background: url(../images/content/countdown/clockbg.png) no-repeat;
  height: 58px;
  position: left; }

a#timer-link {
  position: absolute;
  display: block;
  height: 30px;
  text-decoration: none !important;
  width: 160px; }

#timer-values {
  height: 34px;
  width: 152px; }

.timer-numbers {
  color: #b9dde2;
  float: left;
  font-size: 20px;
  height: 25px;
  letter-spacing: 10px;
  padding-top: 2px;
  text-align: left;
  width: 40px; }

#timer-hours {
  padding-left: 4px; }

#timer-minutes {
  margin-left: 15px; }

#timer-seconds {
  margin-left: 13px; }

#timer-labels {
  clear: both; }

.timer-labels {
  color: #cbcbcb;
  font-size: 8px;
  float: left;
  text-align: left;
  width: 44px; }

#timer-label-hours {
  margin-left: 0px; }

#timer-label-minutes {
  margin-left: 12px; }

#timer-label-seconds {
  margin-left: 12px; }

/* Search ---------------------------------------------- */
#search {
  float: right;
  margin: 35px 0px 0px 0px;
  width: 155px; }

#search input {
  float: left;
  margin-left: 3px; }

/* Site navigation ---------------------------------------------- */
#nav {
  height: 40px;
  float: right;
  margin: 0px;
  width: 508px; }

#nav li {
  list-style: none;
  float: left;
  margin: 0px; }

#nav li a {
  background: url(../images/layout/nav-separator.jpg) right no-repeat;
  color: #f1f1f1;
  display: block;
  font-size: 14px;
  height: 30px;
  letter-spacing: 2px;
  padding: 10px 12px 0px 12px;
  text-decoration: none; }

#nav li a:hover {
  background: #d6ecee;
  color: #512f13; }

/* Subnavigation ---------------------------------------------- */
#nav li ul {
  border-collapse: collapse;
  border-top: solid 1px #aedfe5;
  display: none;
  margin: 0px auto auto 0px;
  padding: 0px;
  position: absolute;
  width: 160px;
  z-index: 300; }

#nav li ul li a {
  background: #603813;
  border-collapse: collapse;
  border-bottom: solid 1px #aedfe5;
  border-left: solid 1px #aedfe5;
  border-right: solid 1px #aedfe5;
  color: #aedfe5;
  font-size: 12px;
  height: 29px;
  padding: 6px 0px 0px 5px;
  width: 153px;
  filter: alpha(opacity=90);
  -moz-opacity: .90;
  opacity: .90; }

#nav li ul li a:hover {
  background: #fff;
  color: #3b2313; }

#nav li:hover ul {
  display: block; }

#nav LI.over ul {
  display: block; }

/* Home left navigation ---------------------------------------------- */
#home-left, #left-nav {
  background: #aedfe4;
  margin-right: 0px;
  padding: 0px; }

#home-left {
  height: 454px; }

#home-left li, #left-nav li {
  list-style: none;
  margin: 0px; }

#home-left li a, #left-nav li a {
  color: #136b76;
  display: block;
  overflow: hidden;
  text-decoration: none; }

#home-left li a {
  background: url(../images/layout/home-left.jpg) right top no-repeat;
  font-size: 14px;
  height: 40px;
  padding: 18px 0px 0px 15px; }

#home-left li a:hover {
  background: url(../images/layout/home-left.jpg) right bottom no-repeat; }

.pastors-home-link {
  background: url(../images/layout/pastors.jpg) left no-repeat !important;
  color: #603810;
  font-weight: bold;
  height: 96px !important;
  padding: 10px 0px 0px 120px; }

.newsletter-home h2 {
  text-indent: -9999px;
  height: 1px; }

.newsletter-home input {
  border-collapse: collapse;
  border: 1px #000000 solid;
  color: #a4a4a4;
  float: left;
  font-style: italic;
  height: 20px;
  margin: -4px 0px 0px 15px; }

/* Left nav pages ---------------------------------------------- */
.nav-title a, .nav-title-li {
  background: url(../images/layout/nav-title.jpg) left top no-repeat !important;
  color: #4499a4;
  display: block;
  font-size: 12px !important;
  height: 30px;
  padding: 9px 0px 0px 23px !important; }

.nav-title a:hover {
  text-decoration: underline !important; }

#left-nav {
  min-height: 400px; }

#left-nav li a {
  background: url(../images/layout/left-nav.jpg) right top no-repeat;
  font-size: 14px;
  height: 28px;
  padding: 7px 0px 0px 26px; }

#left-nav li a:hover, #left-nav .current-uri {
  background: url(../images/layout/left-nav.jpg) left bottom no-repeat; }

/* left background in inner wrapper */
#inner-wrapper {
  background: url(../images/layout/left-nav-bg.jpg) left repeat-y; }

/* Sub divs left nav ---------------------------------------------- */
.left-nav-content {
  background: #000;
  color: #fff;
  display: none;
  height: 454px;
  position: absolute;
  z-index: 2;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  opacity: .75; }

/*
#left-nav div {
	background: #fff;
	display: none;
	left: 226px;
	margin-top: -58px;
	padding: 10px;
	position: absolute;
	z-index: 2;
	
	filter: alpha(opacity=75);
	-moz-opacity: .75;
	opacity: .75;
}

#left-nav li:hover div {
	display: block;
}

/* Photos ---------------------------------------------- */
/* home page photos */
#photos {
  height: 454px;
  margin: 0px 0px -5px 0px;
  overflow: hidden;
  width: 738px; }

/* photos on other pages  */
.photo-slideshow {
  height: 300px;
  margin: 0px 0px 10px 0px;
  #	overflow: hidden; }

/* Banners ---------------------------------------------- */
#banners {
  background: #dddddd;
  border-collapse: collapse;
  border-top: solid 1px #136b76;
  height: 90px;
  margin-top: -20px;
  padding-top: 10px; }

.banner-slideshow {
  height: 80px;
  overflow: hidden;
  width: 226px; }

/* Content area ------------------------------------------- */
h1 {
  text-transform: uppercase;
  margin: 15px 0px; }

h1, h2, hh3, h4, h5, h6 {
  color: #3c93b3;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: normal !important;
  letter-spacing: 2px; }

.content-block {
  background: #e4f6f8 url(../images/layout/content.png) top right no-repeat;
  margin-bottom: 20px; }

.content-block h2, .content-block h3, .content-block h4, .content-block h5, .content-block h6 {
  color: #8e8782;
  margin-bottom: 7px;
  padding: 7px 0px 0px 12px; }

.content-block h2 {
  margin-bottom: 0px !important; }

.content-block p {
  padding: 10px 10px 0px 10px; }

.content-block strong {
  color: #02374a; }

.content-block em {
  color: #3c3c3c; }

.content-block a {
  color: #017da6; }

.content-block a:hover {
  color: #2390b4;
  text-decoration: none; }

.content-block .image-left {
  float: left;
  margin-right: 5px; }

/* Buttons --------------------------------------------- */
a.button-small, input.button-small {
  background: url(../images/layout/button-small.jpg) top right no-repeat;
  border: none;
  color: #aedfe5;
  font-weight: bold;
  padding: 10px 45px 10px 10px;
  position: relative;
  text-decoration: none; }

a:hover.button-small {
  color: #fff; }

/* Footer ---------------------------------------------- */
#footer {
  color: #603813;
  font-size: 10px;
  margin: 25px 0px;
  padding: 5px 0px 20px 0px;
  text-align: center; }

#jenny {
  font-size: 1; }
